h1{
    font-family:serif;
    font-size: 70px;
    text-align: center;
    color: azure;
    
    
    
    }
    header {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        text-align: center;
    }
    
    
    
    img{
    
    display: block;
    margin: 5px auto;
    }
    body{
        background-color: blue;
    }
    a {
        color: aqua;
        text-decoration: none;
        font-size: 16px;
        padding: 10px 20px;
        margin-top: 20px;
        display: inline-block;
        border: 1px solid aqua;
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s;
    }
    
    a:hover {
        background-color: aqua;
        color: white;
    }
    div{
        text-align: center;
    }
    p {
        color: white;
        font-size: 18px;
        line-height: 1.5;
        padding: 20px;
        text-align: justify;
    }
    